@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@font-face {
  font-family: 'Genshin Impact';
  src: url('../assets/zh-cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Genshin Drip';
  src: url('../assets/Genshin Impact DRIP FONT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}